name: build pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: external workflow
    uses: tehw0lf/workflows/.github/workflows/build-test-publish.yml@main
    permissions:
      id-token: write    # REQUIRED - Always needed for OIDC (npm Trusted Publishing + future integrations)
      actions: write
      contents: write
      packages: write
    with:
      docker_meta: '[{"name": "yaft", "file": "Dockerfile"},{"name": "yaft-db", "file": "db/Dockerfile"}]'
      event_name: ${{ github.event_name }}
